@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Description"]</p>

<br>
<b>Adam Beck</b><br>
<b>Daniel Grigsby</b><br>
<b>Dominique Owens</b><br>

