@{
    ViewBag.Title = "CourseView";
    Layout = "_Layout.cshtml";
}



@model RateMyClasses.Models.Course

<h2>Model.name : Model.department</h2>

<h3>Model.courseEvalLink</h3>

<div>
    <p>Model.description</p>

</div>