@{
    ViewData["Title"] = "Reported or Spam";
}
<div>
    <h2> This review has been reported!</h2>
</div>

<div>
    <p> The report that you have created has either been flagged as spam or reported by another user or moderator. </p>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>