<h1>@ViewData["Title"]</h1>
<p>@ViewData["Message"]</p>
<p>@ViewData["Error"]</p>


<!-- Search by name -->
<form asp-controller="Login" asp-action="Verification" method="get">
        <p> Username: <input type="text" name="username" /> </p>
        <p> Password: <input type="password" name="password" /> </p>
        <p> <input type="submit" value="Login" /> </p>
</form>