@{
    ViewData["Title"] = "Search";
}

<h2>@ViewData["Message"]</h2>


<form asp-controller="Search" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Go" />
    </p>
</form>
