@{
    ViewBag.Title = "CourseView";
}

@model IEnumerable<RateMyClasses.Models.Review>

<h2>@ViewData["Title"]</h2>
<p>@ViewData["Description"]</p>

<a asp-controller="Search" asp-action="Index" >Go Back To Search </a>
